<div class="card mb-3" id="cardDemo14">
                  <div class="card-header">Basic Tabs</div>
                  <div class="card-body h-scroll">
                    <div>
                      <!-- Nav tabs-->
                      <ul class="nav nav-tabs mb-4" role="tablist">
                        <li class="nav-item" role="presentation"><a class="nav-link active" href="#home" aria-controls="home" role="tab" data-toggle="tab" aria-selected="true">Home</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#profile" aria-controls="profile" role="tab" data-toggle="tab" aria-selected="false">Profile</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#messages" aria-controls="messages" role="tab" data-toggle="tab" aria-selected="false">Messages</a></li>
                        <li class="nav-item" role="presentation"><a class="nav-link" href="#settings" aria-controls="settings" role="tab" data-toggle="tab" aria-selected="false">Settings</a></li>
                      </ul>
                      <!-- Tab panes-->
                      <div class="tab-content">
                        <div class="tab-pane active" id="home" role="tabpanel">
                                                <form action="">
                          <div class="form-group">
                            <p>Picture</p>
                            <label class="custom-file">
                              <input class="custom-file-input" id="file" type="file"><span class="custom-file-control"></span>
                            </label>
                          </div>
                          <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" type="text">
                          </div>
                          <div class="form-group">
                            <label>Bio</label>
                            <textarea class="form-control" rows="3"></textarea>
                          </div>
                          <div class="form-group">
                            <label>URL</label>
                            <input class="form-control" type="text">
                          </div>
                          <div class="form-group">
                            <label>Company</label>
                            <input class="form-control" type="text">
                          </div>
                          <div class="form-group">
                            <label>Location</label>
                            <input class="form-control" type="text">
                          </div>
                          <button class="btn btn-info" type="button">Update settings</button>
                          <p><small class="text-muted">* Integer fermentum accumsan metus, id sagittis ipsum molestie vitae</small></p>
                        </form>
                        </div>
                        <div class="tab-pane" id="profile" role="tabpanel">Nullam eu lacus in nibh rutrum ornare at eget tellus. Nullam rutrum convallis lacus non mattis. Praesent dapibus justo dolor. Duis convallis placerat egestas. Aenean non neque a tortor tempor consequat a ut ligula. Mauris eros nibh, adipiscing ac commodo vel, molestie mattis magna. Curabitur adipiscing, tellus ut congue tempus, dui lacus cursus risus, nec pellentesque mi purus eget augue. Fusce ullamcorper placerat tortor, placerat consequat diam cursus posuere.</div>
                        <div class="tab-pane" id="messages" role="tabpanel">Aenean non neque a tortor tempor consequat a ut ligula. Mauris eros nibh, adipiscing ac commodo vel, molestie mattis magna. Curabitur adipiscing, tellus ut congue tempus, dui lacus cursus risus, nec pellentesque mi purus eget augue. Fusce ullamcorper placerat tortor, placerat consequat diam cursus posuere. Aenean non neque a tortor tempor consequat a ut ligula. Mauris eros nibh, adipiscing ac commodo vel, molestie mattis magna. Curabitur adipiscing, tellus ut congue tempus, dui lacus cursus risus, nec pellentesque mi purus eget augue. Fusce ullamcorper placerat tortor, placerat consequat diam cursus posuere.</div>
                        <div class="tab-pane" id="settings" role="tabpanel">Sed id lacus enim, sit amet imperdiet orci. Phasellus sed dui massa, vitae dapibus augue. Nam vehicula rhoncus nisl, et ullamcorper augue ullamcorper semper. Aenean non neque a tortor tempor consequat a ut ligula. Mauris eros nibh, adipiscing ac commodo vel, molestie mattis magna. Curabitur adipiscing, tellus ut congue tempus, dui lacus cursus risus, nec pellentesque mi purus eget augue. Fusce ullamcorper placerat tortor, placerat consequat diam cursus posuere.</div>
                      </div>
                    </div>
                  </div>
                </div>

