           <div class="cardbox"  data-ng-controller="FileManagerCtrl">
                  <div class="cardbox-heading">
                    <div class="total float-right">

                           <button class="mb-4 btn btn-outline-info"
								ng-click="initModal('mnewfolder')">
								<i class="glyphicon glyphicon-plus"></i> {{"create_folder" |
								translate}}
							</button>
							<button class="mb-4 btn btn-outline-success"
								ng-click="initModal('muploadfile')">
								<i class="glyphicon glyphicon-upload"></i> {{"upload_file" |
								translate}}
							</button>
							<button class="mb-4 btn btn-outline-danger"
								data-ng-click="setTemplate('main-icons')"
								data-ng-show="viewTemplate !== 'main-icons'"
								title="{{'icons' | translate}}">
								<i class="ion-grid"></i>
							</button>
							<button class="mb-4 btn btn-outline-danger"
								data-ng-click="setTemplate('main-table')"
								data-ng-show="viewTemplate !== 'main-table'"
								title="{{'list' | translate}}">
								<i class="ion-navicon-round"></i>
							</button>

                    </div>
                    <h3 class="cardbox-title">Files</h3>
                  </div>
                  <div class="cardbox-body">

                      </div>
                    </div>
                  </div>
                </div>
