<md-dialog aria-label="Upload Item">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Upload Item</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <em class="ion-close-round"></em>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>

    </md-dialog-content>

    <md-dialog-actions layout="row">
      <span flex></span>
      <md-button ng-click="answer()">
       Apply
      </md-button>
      <md-button ng-click="cancel()">
      Cancel
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
